.container {
  background-color: #f5f5f5;
  padding: 0 1rem;
}

.main {
  padding: 1rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}
.outerLayer {
  flex: 1;
  width: 100%;
  display: flex;
}
.sider {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.content {
  margin-left: 1rem;
  flex: 1;
  background-color: #fff;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
